.app-button {
  outline: none;
  cursor: pointer;
  padding: 14px 28px;
  border-radius: 25px;
  text-transform: uppercase;
  border-width: 2px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  &:disabled {
      background: gray;
  }
  &:focus,
  &:hover {
    @include input_shadow();
  }
  @media screen and (min-width: 768px) {
    padding: 14px 32px;
  }
  &.app-button__clean {
    padding: 0;
    background: none;
    border: none;
    border-radius: unset;
  }
  &.app-button__pinNav {
    padding: 0;
    width: 12px;
    height: 12px;
    border: none;
    margin: 10px;
    @media screen and (min-width: 768px) {
      margin: 14px 0;
    }
    &:hover {
      background: $theme_yellow;
    }
  }
  &.app-button__round {
    padding: 0;
    border-radius: 50%;
  }
  &.app-button__play {
    border: none;
    width: 100px;
    height: 100px;
    @include flex-center();
    .app-button__icon {
      margin: 0 0 0 10px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 130px;
      height: 130px;
      background: $button_play_bg;
      border-radius: 50%;
    }
  }
  &.app-button__sliderArrow {
    &:focus, &:hover {
      box-shadow: unset;
    }
    &:hover {
      svg path {
        fill: $theme_yellow;
      }
    }
  }
}
