input,
textarea {
  font-weight: 600;
  &:focus-visible {
    outline: none;
    @include input_shadow();
  }
  &:hover {
    @include input_shadow();
  }
}

.app-form {
  margin: 0 auto;
  &.app-form__contact {
    @media screen and (min-width: 1024px) {
      width: 500px;
    }
    @media screen and (min-width: 1300px) {
      width: 580px;
    }
  }
  &__inputs {
    margin: 30px -15px 0 -15px;
  }
  &__submit {
    @include flex-center();
  }
}

.form-group {
  margin: 10px 0;
  &__input {
    position: relative;
  }
  &__checkbox {
    @include flex-disp();
  }
  &__tip {
    margin: 10px 0;
    padding: 0 0 0 15px;
    font-size: 11px;
  }
}

.app-label {
  display: none;
  position: absolute;
  font-size: 11px;
  font-weight: 600;
  left: 15px;
  top: 5px;
  &.focused {
    display: block;
  }
  &__checkbox {
    display: block;
    position: static;
    margin: 0 13px 0 0;
  }
}

.app-input {
  width: 100%;
  font-size: 15px;
  min-height: 45px;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  &.focused {
    padding-top: 20px;
  }
  &.invalid {
    border: 1px solid $input_invalid;
    color: $input_invalid;
  }
}

input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
  min-height: unset;
  padding: 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
  }
  &:checked {
    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: white;
      z-index: 3;
      box-shadow: 0 0 2px rgba(0,0,0,.16);
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      padding: 2px;
      background-image: url('~@/assets/tick-sign.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 4;
    }
  }
}