$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1300px
) !default;

$theme_primary: #001927;
$theme_secondary: #002841;
$theme_azure_blue: #00b6dc;
$theme_yellow: #ffcd19;
$theme_shadow: rgba(95, 95, 95, 22%);
$theme_light_blue: #f5f8fa;

$input_shadow: rgba(145, 154, 159, 16%);
$input_invalid: #FF3139;
$modal_bg: rgba(0, 0, 0, 0.5);
$navbar_blurred: rgba(0, 25, 39, .6);

$button_play_bg: rgba(0, 182, 220, .2);